body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #ffeb3b;
    color: #333;
    padding: 20px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 2px 2px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bee-image {
    margin-left: 10px;
    height: 50px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.select-list-container {
    margin-left: 20px;
    font-size: 1rem;
}

main {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

section {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #ffeb3b;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #fdd835;
}

button:active {
    background-color: #fbc02d;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}


#current-word {
    font-size: 10rem important!; /* Ajusta el tamaño inicial */
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    margin: 20px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    max-width: 100%; /* Asegura que el contenedor use todo el ancho disponible */
    display: block; /* Asegura que el contenedor se comporte como un bloque */
}

#timer-button {
    font-size: 3rem; /* Tamaño más grande */
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Color inicial */
    color: white;
    cursor: pointer;
    position: fixed; /* Fijo para mantener la posición */
    top: 10px; /* Ajusta según sea necesario */
    right: 10px; /* Ajusta según sea necesario */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}



.timer-button:hover {
    background-color: #fdd835;
}

.timer-button:active {
    background-color: #fbc02d;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}
